.img {
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.media-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;

  img,
  video,
  iframe,
  svg {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
