.card {
  &-services {
    .img {
      border-radius: 1.25rem 1.25rem 0 0;
    }
    .card {
      &-body {
        padding: 2rem;
        background-color: #fff;
        border-radius: 0 0 1.25rem 1.25rem;
      }
    }
  }
  &-01 {
    background-color: white;
    .media-wrapper {
      height: 260px;
    }

    .card {
      &-content {
        padding: 1.5rem;
        h5 {
          margin-bottom: 12px;
        }
        p {
          margin-bottom: 16px;
        }
      }
    }
  }
}
