.section {
  &-about {
    padding: 5rem 0;
    background-color: #f7effa;
  }
  &-contact {
    padding: 5rem 0;
    background-color: #f7effa;
  }
  &-products {
    padding: 5rem 0;
    background-color: #f7effa;
  }
}
